<!DOCTYPE html>

<html>
<head>
  <title>WorkoutBuilder</title>
  <link rel="stylesheet"
  	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet"
  	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="static/stylesheets/styles.css">
</head>

<body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="static/js/game_js.js"></script>

<div class = "container set" style = "margin-top: 100px">

	<!-- Workout Page-->
<div class = "container go">
 <div class =  "center-div"> <h1 class = "current-exercise-header center-text">Pushups</h1></div>
 <div class =  "center-div timer-div"><h1 class = "timer center-text">10</h1></div>
  <h2 class = "act" id = "restart">Restart</h2>
  <div class = "act center-div"><h2 class = "center-text">Pause</h2></div>
  <h2 class = "act" id = "skip">Skip</h2>
</div


</body>
</html>
